@import url("http://fonts.googleapis.com/css?family=Roboto:400,900,100");

$color-white : #FFF ;
$color-red : #E65C43 ;
$color-grey : #666 ;
$color-lightgrey: #f5f6f6;
$footer: #30353d;

$font-body: 'Roboto', sans-serif ;

$image-background: "../images/bg.gif";
$image-logo: "../images/logo.png";
$image-social: "../images/social-media.png";